* {
  font-family: Sans-serif;
}

body{
  background-color: #f0dbdb;
  color: #2F4F4F;
}
h1 {
  text-align: center;
}

h2 {
  box-sizing: border-box;
  margin: 30px 0 0;
  padding: 20px 0 0;
}

table, th, td {
  border: 2px solid #b3b3ff;
  border-collapse: collapse;

}

table {
  width: 100%;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}

th {
  text-align: center;
  background-color: #E9967A;
}

td {
  text-align: left;
}
